{% extends 'base.html'%} 

{% block content %}

<div class="row row-cols-1 row-cols-md-2 g-4">
  <a href="{% url 'add_reference' %}" class="btn btn-outline-success" style="margin-left:390px;"><i class="fa-solid fa-plus" style="color: #0c1c36;"></i>Add New</a>
    {% for r in reference %}
    <div class="col">
      <div class="card">
        <div class="card-header">{{r.name}}</div>
        <div class="card-body">
          <h5 class="card-title">{{r.post}}</h5>
          <p class="card-text"><small class="text-muted">{{r.work_on}}</small></p>
          <p class="card-text"><small class="text-muted">{{r.email}}</small></p>
          <br/><br/>
          <a href="{% url 'update_reference' r.pk %}" class="btn btn-outline-success"><i class="fa-regular fa-pen-to-square"></i></a>
            &nbsp;&nbsp;
            <a href="{% url 'delete_reference' r.pk %}" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i></a></td>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
<br/><br/><br/><br/>

{% endblock%}